<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>To-Do lists</title>
    </head>
    <body>
        <header>
            <h1>Your To-Do list</h1>
        </header>
        
        <main>
            <form action="" method="POST">
                {% csrf_token %}
                <input id="id-new-item" name="todo-item" type="text" placeholder="Enter a to-do item">
            </form>
            
            <table id="id-list-table">
                <tr>
                    <td>1: {{ new_item }}</td>
                </tr>
            </table>
        </main>
    </body>
</html>
